/* CSS declarations go here */

/* Global Variables */

/*
  Background: #191745

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face {
  font-family: "Panton-LightCaps";
  src: url("Panton-LightCaps.otf");
}


* {
  margin: 0;
  padding: 0;
}


.site {
  background-color: #191745;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;

  grid-template-rows: 100px 1fr auto;
  grid-template-areas:
  "navigation"
  "content"
  "footer";
}

.navigation-grid {
  grid-area: navigation;
}

.collapsed-menu-icon {}

.content-grid {
  grid-area: content;
  text-align: center;
  font-family: 'Panton-LightCaps', 'Montserrat', sans-serif;
}

.content-grid h1 {
  color: #dddddd;
  font-size: 40px;
  margin-top: 70px;
  letter-spacing: 10px;
}


.desc-text{
  color: #ffffff !important;
}

.content-grid span {
  color: #858585;
  font-size: 15px;
  letter-spacing: 3px;
}


.content-grid section {

  margin: 50px 50px 40px 50px;
  font-size: 30px;
  text-align: justify;
}


.footer-grid {
  grid-area: footer;
  margin-top: 100px;
  display: flex;

}

.mobile-logo {

}

.wave {
  align-self: flex-end;
}

.menu-icon {
  padding: 15px;
  color: #dddddd;
}

.demo-button {
  width: 200px;
  align-self: center;
  background-color: #39d9f1;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.demo-button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

/* Define Grid Areas */
