 // Social Icons
.social-media-container {
  margin: 0 !important;
}
 .social-media {
    text-decoration: none;
    list-style-type: none;
    margin: 25px 0 0 5px;

    li {
      margin: 10px 0 0 0;
    }

    .fa-twitter {
      /* color: #1da1f2; */
        color: $white;
    }
    .fa-facebook-square {
      /* color: #3b5998; */
        color: $white;
    }
    .fa-google-plus {
      /* color: #dd4b39; */
        color: $white;
    }
    .fa-instagram {
      /* color: #833ab4; */
        color: $white;
    }
  }