.blog-container {
    padding: 0;
}

.articleContainer {
    margin: 0px auto 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

// Blog Cards
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 5px 4px 8px 0 rgba(0,0,0,0.7);
    transition: all .2s ease-in-out;
    margin: 20px auto 0 auto;
    width: 100%;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
        transform: scale(1.1); 
    }
    .container {
        border-radius: 0 0 5px 5px !important; /* 5px rounded corners */
        border: solid 3px $color-prim;
        border-width: 0px 3px 3px 3px;
        padding: 2px 16px;
        background-color: $white;
        color: $black;
        width: 100%;
    }
    .card-image {
        border: solid 3px $color-prim;
        border-width: 3px 3px 0px 3px;
        width: 100% !important;
        margin: 0 !important;
        border-radius: 5px 5px 0 0 !important;
    }
}


.tabs {
    display: none;
}


@media only screen and (min-width: 992px) {
    // Blog Cards
    .card {
        width: 30%;
    
        .card-image {
            width: 100% !important;
            margin: 0 !important;
        }
    }
    .articleContainer {
        width:70%;
        margin: 0 auto;
    }
    .tabs {
        display: block;
        width: 100%;
        margin: 50px auto 20px auto;
        .nav-tabs {
            width: 70%;
            margin: 0 auto;
            .active a {
                background-color: $white;
                border: none;

            }
        }
    }

}