// Site navigation ----------------------- //


.navbar {
  min-height: 50px;
  margin: auto;
}


.navbar-right {
  margin-top  : 40px;
  margin-right: -50px;
}

.navbar-default {
  background-color: transparent;
  border          : none;
  position        : relative !important;
  
}


ul.navbar-nav li {
  margin: 0 80px 0 0;

  a {
    color: $white !important;
  }

  & a:hover {
    text-decoration: none;
    color          : $color-prim;
  }

  &:last-child a {
    color: $color-prim !important;
  }
}

svg {
  overflow: visible;
  
}
#outside {
  transform: scale(.5);
  animation-name: rotate-outside;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes rotate-outside {
  0% {transform: rotate(0deg) scale(.5);transform-origin: 50% 50%; }
  50% {transform: rotate(360deg) scale(.6);transform-origin: 50% 50%;}
  100% {transform: scale(.5);transform-origin: 50% 50%;}
}

#inside {
  animation-name: rotate-inside;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes rotate-inside {
  0% {transform: rotate(0deg) scale(.5);transform-origin: 50% 50%; }
  50% {transform: rotate(-360deg) scale(.6);transform-origin: 50% 50%;}
  100% {transform: scale(.5);transform-origin: 50% 50%;}
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    margin: 0 70px 0 0;
  }
  .navbar-default .navbar-toggle {
    margin: -12px 15px 0 0;
    border-color: $color-prim;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: $color-prim;
  }
  .navbar-collapse {
    margin: 20px 0 0 0;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: $white;
    height: 100vh;
    margin: 0 -30px 0 -30px;
  }
}


