// Site navigation ----------------------- //
.navbar {
  min-height: 50px;
}
.navbar-right {
  margin-top: 40px;
  margin-right: -50px;
}
.navbar-default {
  background-color: transparent;
  border: none;
  position: relative !important;
}
.navbar-brand {

}

ul.navbar-nav li {
  margin: 0px 80px 0 0;

  a {
    color: $darker-white;
  }
  & a:hover {
    text-decoration: none;
    color: $color-prim;
  }
  &:last-child a {
    color: $color-prim !important;
  }
}

