  // Service Icons //
  @media only screen and (max-width: 600px) {
    .service-icons-container {
      flex-direction: column;
      .service-item {
        display       : block;
        margin        :  0 auto 50px auto !important;
        border: 2px solid $color-prim;
        padding: 20px;
  
      }
      
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .service-icons-container {
    margin         : 50px auto 0;
    display        : flex;
    justify-content: center;
    

    .service-item {
      vertical-align: top;
      display       : inline-block;
      text-align    : center;
      margin        :  0 50px;
      transition    : all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }


  // Captions
  .caption {
    color    : white;
    display  : block;
    font-size: 1em;
    margin   : 20px 0 0;
  }

.services-container {
  display: flex;
  align-items: center;
  height: 300px;
  overflow: hidden;
  margin-top: 45px;
  border-top: 1px solid rgba($black, 0.5);
  border-bottom: 5px solid $color-prim;
  img {
    position: relative;
    border-radius: 0 !important;
    max-width: 100%;
    height: auto;
    opacity: 0.5;
  }
  // h1 {
  //   position: absolute;
  //   top: 30%;
  //   left: 40%;
  // }
  
}
.service-navigation-container {
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include text(1.3em, null, 2px, null, #111, $HomeFont);

}
.service-nav-item {
  margin: 0 50px 0 50px;
  background-color: $color-prim;
  width: 400px;
  height: 50px;
  border-radius: 5px;
  
  p {
    @include text-center();
  }
}
}
  
