@font-face {
    font-family: Panton-LightCaps;
  src: url("../assets/fonts/Panton-LightCaps.otf"); }


body {
    background: #383838;
    color: #fff;
}

.navbar {
    padding-top: 20px; }
  
  .navbar-nav {
    background-color: #383838; }
    .navbar-nav .nav-item {
      margin: 20px auto 0 auto; }
    .navbar-nav .nav-link {
      color: #707070;
      margin-right: 0px; }
    .navbar-nav .nav-link:hover {
      color: #F8931F; }
  
  .navbar-trans {
    background: transparent !important; }
  
  .sign-in {
    color: #F8931F; }
  
  .navbar-toggler-icon {
  color: #F8931F; }

#home-section {
    background: url("../assets/images/bg-photo.jpg") no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    font-family: Panton-LightCaps; }
    #home-section .dark-overlay {
      background-color: rgba(22, 25, 33, 0.9);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100vh;
      overflow: hidden; }
    #home-section .home-inner {
      padding-top: 250px; }
    #home-section .line-graph {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.4; }
    #home-section .fa {
      color: #F8931F;
      background: #fff;
      padding: 4px;
      border-radius: 5px;
      font-size: 30px; }
    #home-section .top-text {
      font-size: 3.5em;
      color: #ccc;
     }
    #home-section .bottom-text {
      font-size: .5em;
      padding-left: 10px;
      letter-spacing: 4.5px;
      color: #ccc; 
    }
      #home-section .bottom-text span {
        color: #F8931F; }
    #home-section .main-content {
      text-align: center;
      margin: 0 auto; }
    #home-section .btn {
      background-color: #F8931F;
      color: #fff;
  border-radius: 25px; }


    @media (min-width: 768px) {
        .navbar-nav {
          background-color: #161921; }
          .navbar-nav .nav-item {
            margin: 20px auto 0 auto; }
        .home-inner {
          padding-right: 0; }
        .nav-link {
      margin-right: 0px; } }

    @media (min-width: 992px) {
        .navbar-nav {
          background: transparent;
          margin-top: -20px; }
          .navbar-nav .nav-item {
            margin-right: 50px; }
          .navbar-nav .nav-item:last-child {
            margin-right: 0; }
        .home-inner {
          padding-right: 50%; }
        #home-section .bottom-text {
          font-size: .7em;
          padding-left: 10px;
          letter-spacing: 4.5px; }
          #home-section .bottom-text span {
            color: #F8931F; }
        #home-section .btn {
          height: 60px;
          width: 240px; } }
      
      @media (min-width: 1200px) {
        .navbar-nav {
          background: transparent;
          margin-top: -20px;
          margin-right: 30px;
         }
          .navbar-nav .nav-item {
            margin-right: 50px;
         }
          .navbar-nav .nav-item:last-child {
            margin-right: 0; 
        }
        .line-graph {
          top: 100px;
          right: 0; }
        .home-inner {
          padding-top: 350px !important;
          padding-right: 50%; }
        #home-section .top-text {
          font-size: 6em; }
        #home-section .bottom-text {
      font-size: 1.2em; 
    }
    .sign-in {
        border: solid #F8931F;
        border-radius: 5px;
        width: 150px;
        text-align: center;
        background-color: #F8931F;
        color: #000 !important;
    } 
}