@font-face {
    font-family: Panton-LightCaps;
    src: url("components/assets/fonts/Panton-LightCaps.otf");
}

@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');


body {
    color: white;
}

#home-section {
    background: url("./components/assets/images/background.png") no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    font-family: Panton-LightCaps;
  }

.navbar-brand {
    margin: 20px 0 0 50px;
}

ul.navbar-nav li {
    margin: 20px 80px 0 0;
}
ul.navbar-nav li a {
    color: #ccc;
}
ul.navbar-nav li a:hover {
    text-decoration: none;
    color: #F8931F;
}

ul.navbar-nav li:last-child a{
    color: #F8931F !important;
}
#home-section .main-content {
    margin: 50px auto 0 auto;
    text-align: center;
}
#home-section .top-text {
    font-size: 3.5em;
    font-family: 'Do Hyeon', sans-serif; /* This font is optional */
    color: white;
    text-shadow: 2px 2px 5px #000;
}
  
#home-section .bottom-text {
    font-size: 1.5em;
    font-family: 'Do Hyeon', sans-serif; /* This font is optional */
    padding-left: 10px;
    letter-spacing: 4.5px;
    color: #ccc;
    text-shadow: 2px 2px 5px #000;
}
  
#home-section .bottom-text span {
    color: #F8931F;
}

#home-section .top-text span {
    color: #F8931F;
}


/* Social Icons Home Page */
.fa-twitter {
    /* color: #1da1f2; */
    color: white;
}
.fa-facebook-square {
    /* color: #3b5998; */
    color: white;
}
.fa-google-plus {
    /* color: #dd4b39; */
    color: white;
}
.fa-instagram {
    /* color: #833ab4; */
    color: white;
}
.social-media-container {
    margin: 100px 0 0 43px;
}
.social-media {
    text-decoration: none;
    list-style-type: none;
}

.social-media li {
    margin: 10px 0 0 0;
}

/* Service Icons */
.service-icons-container {
    margin: 0 auto;
}
figure.service-item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    transition: all .2s ease-in-out;
}
figure.service-item:hover {
    transform: scale(1.1);
}
.caption {
    color: white;
    display: block;
    font-size: 1em;
    margin: 20px 0 0 0;
}



/* Ribbons */
.corner-ribbon{
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #000;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .corner-ribbon.sticky{
    position: fixed;
  }
  .corner-ribbon.bottom-right{
    top: auto;
    right: -50px;
    bottom: 25px;
    left: auto;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .corner-ribbon.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
  }
  .corner-ribbon.orange{background: #F8931F;}

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
} 

@media only screen and (min-width: 1200px) {
    
}
