// Main Sass File
@font-face {
font-family: Panton-LightCaps;
src: url('../fonts/Panton-LightCaps.otf');
}

$bg-color: #383838;
$font-color: #707070;
$main-font-color: #fff;
$primary-color: #F8931F;
$dark-overlay: rgba(56,56,56,.9);
$icon-size: 30px;

body {
  background: $bg-color;
  color: $main-font-color;
}

.navbar {
  padding-top: 20px;
}
.navbar-nav {
  background-color: $bg-color;
  .nav-item {
    margin: 20px auto 0 auto;
  }
}
.nav-link {
  color: $font-color;
  margin-right: 0px;
}

.nav-link:hover {
  color: $primary-color;
}
.navbar-trans {
  background: transparent !important;
}

.sign-in {
  color: $primary-color !important;
}

.navbar-toggler-icon {
  color: $primary-color;
}


#home-section {
  // ADD IMAGE
  background: url('../images/bg-photo.jpg') no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  font-family: Panton-LightCaps;

  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }

  .home-inner {
    padding-top: 250px;
  }
  .line-graph {
    position: absolute;
    // top: 100px;
    bottom: 0;
    right: 0;
    opacity: 0.4;

  }
  .fa {
    color: $primary-color;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }

  .top-text {
    font-size: 3.5em;
  }

  .bottom-text {
    font-size: .7em;
    padding-left: 10px;
    letter-spacing: 4.5px;
    span {
      color: $primary-color;
    }
  }

  .main-content {
    text-align: center;
    margin: 0 auto;

  }

  .btn {
    background-color: $primary-color;
    color: $main-font-color;
    border-radius: 25px;

  }

}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-nav {
    background-color: $bg-color;
    .nav-item {
      margin: 20px auto 0 auto;
    }
  }
  .home-inner {
    padding-right: 0;
  }
  .nav-link {
    margin-right: 0px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar-nav {
    background: transparent;
    margin-top: -20px;
    .nav-item {
      margin-right: 50px;
    }
    .nav-item:last-child {
      margin-right: 0;
    }
  }

  .home-inner {
    padding-right: 50%;
  }


  #home-section {
    .top-text {
      font-size: 3.5em;
    }

    .bottom-text {
      font-size: .7em;
      padding-left: 10px;
      letter-spacing: 4.5px;
      span {
        color: $primary-color;
      }
    }
    .btn {
      height: 60px;
      width: 240px;

    }
  }


}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .navbar-nav {
    background: transparent;
    margin-top: -20px;
    .nav-item {
      margin-right: 50px;
    }
    .nav-item:last-child {
      margin-right: 0;
    }
  }
  .line-graph {
      top: 100px;
      right: 0;

  }
  .home-inner {
    padding-top: 350px !important;
    padding-right: 60%;
  }
  #home-section {
    .top-text {
      font-size: 4em;
    }
    .bottom-text {
      font-size: .9em;
    }
  }

}
